.place__title {
  grid-area: heading;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
  max-width: 460px;
}
