.photo-grid {
  list-style-type: none;
  margin: 0;
  padding: 0 48px 92px;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1150px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 896px) {
  .photo-grid {
    padding: 0 24px 88px;
    gap: 16px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    gap: 12px;
    padding-bottom: 64px;
  }
}
