.places {
  max-width: 984px;
  width: 100%;
  display: grid;
  row-gap: 80px;
  padding: 0 0 92px;
}

@media screen and (max-width: 1150px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .places {
    max-width: 720px;
    row-gap: 72px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 320px;
    row-gap: 50px;
    padding-bottom: 64px;
  }
}
