.place__image {
  grid-area: image;
  width: 100%;
  max-width: 460px;
  margin: 0;
  padding: 0;
  justify-self: center;
}

@media screen and (max-width: 1150px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 896px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 640px) {
  .place__image {
    max-width: 300px;
  }
}

@media screen and (max-width: 544px) {
  .place__image {
    max-width: 320px;
  }
}
