.intro__list {
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 544px) {
  .intro__list {
    margin: 0 auto;
    max-width: 288px;
  }
}
