.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 92px;
}

@media screen and (max-width: 896px) {
  .content {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 544px) {
  .content {
    padding-bottom: 64px;
  }
}
