.footer__link {
  margin-right: 18px;
  color: #fff;
  text-decoration: none;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 544px) {
  .footer__link {
    display: block;
    font-size: 24px;
    line-height: 1.0;
  }
}
