.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0 0 32px;
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 75px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 16px;
  }
}
