.footer__links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
}

@media screen and (max-width: 544px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 48px;

  }
}
