.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  margin: 0;
  text-align: end;
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    text-align: start;
  }
}
