.lead__image {
  width: 100%;
  max-width: 984px;
  padding: 0 0 8px;
}

@media screen and (max-width: 1150px) {
  .lead__image {
    max-width: 1024px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 896px) {
  .lead__image {
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 544px) {
  .lead__image {
    max-width: 320px;
  }
}
