.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 92px;
  box-sizing: border-box;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1150px) {
  .intro {
    max-width: 1024px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 896px) {
  .intro {
    max-width: 768px;
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
  }
}
