.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0 0 64px;
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 40px;
  }
}
