.cover {
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1150px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}
