.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.40;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
  align-self: flex-start;
}

@media screen and (max-width: 896px) {
  .lead__caption {
    padding-left: 24px;
  }
}
