.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  padding: 0 0 32px;
}


@media screen and (max-width: 544px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
